{% extends 'base.html.twig' %}

{% block title %}Edit teacher{% endblock %}

{% block body %}

    <h1 class="ml-2 mt-3">Modifier le formateur(trice)</h1>
    <div class="container mt-5">

    {{ form(userForm) }}


    {{ include('teacher/_delete_form.html.twig') }}

    <a href="{{ path('teacher_index') }}">Retour à la liste des formateur(trice)s</a>
</div>
{% endblock %}
