{% extends 'base.html.twig' %}

{% block title %}teacher index{% endblock %}

{% block body %}
    <h1 class=" ml-2 mt-4">Liste des formateur(trice)s</h1>
    <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Nom du formateur</th>
                <th>Adresse email</th>
                <th>Spécialité</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.speciality.nameservice |default('à définir') }}</td>
                <td>

                {% if is_granted('ROLE_ADMIN') == true %}
                    <a class="btn btn-primary" href="{{ path('teacher_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
 {% if is_granted('ROLE_ADMIN') == true %}
   
  {% else %}
{% endif %}
    </div>
{% endblock %}
