{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1 class="mt-3">Demande de documentation</h1>
<div class="container">

    {{ include('client/_form.html.twig') }}
</div>
{% endblock %}
